DB.url=jdbc:mysql://##mysql_host##:##mysql_port##/syscxp_billing?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=utf8
DB.restUrl=jdbc:mysql://##mysql_host##:##mysql_port##/syscxp_billing_rest?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=utf8
DB.user=##mysql_user##
DB.password=##mysql_pwd##

RESTFacade.hostname=AUTO
ApiMediator.apiWorkerNum=50

CloudBus.serverIp.0 = ##mq_host##
CloudBus.rabbitmqUsername = ##mq_user##
CloudBus.rabbitmqPassword = ##mq_pwd##

org.jboss.logging.provider=slf4j
DbFacadeDataSource.testConnectionOnCheckout = true

accountServerUrl = ##account_api_url##

app_id = ##ali_app_id##
merchant_private_key = ##ali_merchant_private_key##
alipay_public_key = ##ali_alipay_public_key##
notify_url = ##ali_notify_url##
return_url = ##ali_return_url##
sign_type = RSA2
charset = utf-8
gatewayUrl = ##ali_gatewayUrl##
seller_id = ##seller_id##

pidFilePath = /var/syscxp/billing_server.pid