<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="zstack.jpa" transaction-type="RESOURCE_LOCAL">
        <mapping-file>persistence-mapping.xml</mapping-file>

        <class>org.zstack.core.config.GlobalConfigVO</class>
        <class>org.zstack.header.managementnode.ManagementNodeVO</class>
        <class>org.zstack.core.job.JobQueueVO</class>
        <class>org.zstack.core.job.JobQueueEntryVO</class>

        <class>org.zstack.account.header.identity.AccountVO</class>
        <class>org.zstack.account.header.identity.UserVO</class>
        <class>org.zstack.account.header.identity.PolicyVO</class>
        <class>org.zstack.account.header.identity.UserPolicyRefVO</class>
        <class>org.zstack.account.header.identity.SessionVO</class>
        <class>org.zstack.account.header.identity.AccountExtraInfoVO</class>
        <class>org.zstack.account.header.identity.PermissionVO</class>

        <class>org.zstack.account.header.log.OperLogVO</class>
        <class>org.zstack.account.header.log.NoticeVO</class>
        <class>org.zstack.sms.header.SmsVO</class>
        <class>org.zstack.core.notification.NotificationVO</class>
    </persistence-unit>
</persistence>
