<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="syscxp.jpa" transaction-type="RESOURCE_LOCAL">
        <mapping-file>persistence-mapping.xml</mapping-file>

        <class>com.syscxp.core.config.GlobalConfigVO</class>
        <class>com.syscxp.header.managementnode.ManagementNodeVO</class>
        <class>com.syscxp.core.job.JobQueueVO</class>
        <class>com.syscxp.core.job.JobQueueEntryVO</class>

        <class>com.syscxp.account.header.account.AccountVO</class>
        <class>com.syscxp.account.header.user.UserVO</class>
        <class>com.syscxp.account.header.identity.RoleVO</class>
        <class>com.syscxp.account.header.user.UserRoleRefVO</class>
        <class>com.syscxp.account.header.identity.SessionVO</class>
        <class>com.syscxp.account.header.account.AccountExtraInfoVO</class>
        <class>com.syscxp.account.header.identity.PolicyVO</class>
        <class>com.syscxp.account.header.account.AccountContactsVO</class>
        <class>com.syscxp.account.header.account.AccountApiSecurityVO</class>
        <class>com.syscxp.account.header.account.ProxyAccountRefVO</class>

        <class>com.syscxp.account.header.log.NoticeVO</class>
        <class>com.syscxp.sms.header.SmsVO</class>
        <class>com.syscxp.account.header.log.AlarmContactVO</class>
        <class>com.syscxp.core.notification.NotificationVO</class>

        <class>com.syscxp.account.header.ticket.TicketVO</class>
        <class>com.syscxp.account.header.ticket.TicketRecordVO</class>
        <class>com.syscxp.account.header.ticket.TicketTypeVO</class>

    </persistence-unit>
</persistence>
