<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="syscxp.jpa" transaction-type="RESOURCE_LOCAL">
        <mapping-file>persistence-mapping.xml</mapping-file>

        <class>com.syscxp.core.config.GlobalConfigVO</class>
        <class>com.syscxp.header.managementnode.ManagementNodeVO</class>
        <class>com.syscxp.core.job.JobQueueVO</class>
        <class>com.syscxp.core.job.JobQueueEntryVO</class>
        <class>com.syscxp.alarm.header.contact.ContactVO</class>
        <class>com.syscxp.alarm.header.contact.NotifyWayVO</class>
        <class>com.syscxp.alarm.header.contact.ContactNotifyWayRefVO</class>
        <class>com.syscxp.alarm.header.resourcePolicy.PolicyVO</class>
        <class>com.syscxp.alarm.header.resourcePolicy.ResourcePolicyRefVO</class>
        <class>com.syscxp.alarm.header.resourcePolicy.RegulationVO</class>
        <class>com.syscxp.alarm.header.resourcePolicy.ComparisonRuleVO</class>
        <class>com.syscxp.sms.header.SmsVO</class>
        <class>com.syscxp.alarm.header.log.AlarmTimeRecordVO</class>
        <class>com.syscxp.alarm.header.log.AlarmLogVO</class>

    </persistence-unit>
</persistence>
