<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="syscxp.jpa" transaction-type="RESOURCE_LOCAL">
        <mapping-file>persistence-mapping.xml</mapping-file>

        <class>com.syscxp.core.config.GlobalConfigVO</class>
        <class>com.syscxp.header.managementnode.ManagementNodeVO</class>
        <class>com.syscxp.core.job.JobQueueVO</class>
        <class>com.syscxp.core.job.JobQueueEntryVO</class>

        <class>com.syscxp.header.tunnel.node.NodeVO</class>
        <class>com.syscxp.header.tunnel.node.NodeEO</class>
        <class>com.syscxp.header.tunnel.node.ZoneVO</class>
        <class>com.syscxp.header.tunnel.node.ZoneNodeRefVO</class>

        <class>com.syscxp.header.tunnel.endpoint.EndpointVO</class>
        <class>com.syscxp.header.tunnel.endpoint.EndpointEO</class>
        <class>com.syscxp.header.tunnel.endpoint.InnerConnectedEndpointVO</class>
        <class>com.syscxp.header.tunnel.endpoint.CloudVO</class>

        <class>com.syscxp.header.tunnel.switchs.SwitchVO</class>
        <class>com.syscxp.header.tunnel.switchs.SwitchEO</class>
        <class>com.syscxp.header.tunnel.switchs.PhysicalSwitchVO</class>
        <class>com.syscxp.header.tunnel.switchs.PhysicalSwitchEO</class>
        <class>com.syscxp.header.tunnel.switchs.PhysicalSwitchUpLinkRefVO</class>
        <class>com.syscxp.header.tunnel.switchs.SwitchModelVO</class>
        <class>com.syscxp.header.tunnel.switchs.SwitchPortVO</class>
        <class>com.syscxp.header.tunnel.switchs.SwitchVlanVO</class>

        <class>com.syscxp.header.tunnel.tunnel.InterfaceVO</class>
        <class>com.syscxp.header.tunnel.tunnel.InterfaceEO</class>
        <class>com.syscxp.header.tunnel.tunnel.TunnelVO</class>
        <class>com.syscxp.header.tunnel.tunnel.TunnelEO</class>
        <class>com.syscxp.header.tunnel.tunnel.TaskResourceVO</class>
        <class>com.syscxp.header.tunnel.tunnel.ResourceOrderEffectiveVO</class>
        <class>com.syscxp.header.configuration.ResourceMotifyRecordVO</class>
        <class>com.syscxp.header.tunnel.tunnel.QinqVO</class>
        <class>com.syscxp.header.tunnel.tunnel.TunnelSwitchPortVO</class>
        <class>com.syscxp.header.configuration.BandwidthOfferingVO</class>
        <class>com.syscxp.header.tunnel.tunnel.PortOfferingVO</class>
        <class>com.syscxp.header.tunnel.tunnel.TraceRouteVO</class>

        <class>com.syscxp.header.host.HostVO</class>
        <class>com.syscxp.header.host.HostEO</class>
        <class>com.syscxp.header.tunnel.host.MonitorHostVO</class>

        <class>com.syscxp.header.tunnel.host.HostSwitchMonitorVO</class>
        <class>com.syscxp.header.tunnel.host.HostSwitchMonitorEO</class>

        <class>com.syscxp.header.tunnel.monitor.TunnelMonitorVO</class>
        <class>com.syscxp.header.tunnel.monitor.SpeedRecordsVO</class>
        <class>com.syscxp.header.tunnel.monitor.SpeedTestTunnelVO</class>

        <class>com.syscxp.header.tunnel.aliEdgeRouter.AliEdgeRouterEO</class>
        <class>com.syscxp.header.tunnel.aliEdgeRouter.AliEdgeRouterVO</class>
        <class>com.syscxp.header.tunnel.aliEdgeRouter.AliUserVO</class>
        <class>com.syscxp.header.tunnel.aliEdgeRouter.AliEdgeRouterConfigVO</class>

        <class>com.syscxp.header.tunnel.solution.SolutionVO</class>
        <class>com.syscxp.header.tunnel.solution.SolutionInterfaceVO</class>
        <class>com.syscxp.header.tunnel.solution.SolutionTunnelVO</class>
        <class>com.syscxp.header.tunnel.solution.SolutionVpnVO</class>

    </persistence-unit>
</persistence>
