<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="zstack.jpa" transaction-type="RESOURCE_LOCAL">
        <mapping-file>persistence-mapping.xml</mapping-file>

        <class>org.zstack.core.config.GlobalConfigVO</class>
        <class>org.zstack.header.managementnode.ManagementNodeVO</class>
        <class>org.zstack.core.job.JobQueueVO</class>
        <class>org.zstack.core.job.JobQueueEntryVO</class>

        <class>org.zstack.tunnel.header.node.NodeVO</class>
        <class>org.zstack.tunnel.header.node.NodeEO</class>

        <class>org.zstack.tunnel.header.endpoint.EndpointVO</class>
        <class>org.zstack.tunnel.header.endpoint.EndpointEO</class>

        <class>org.zstack.tunnel.header.switchs.SwitchVO</class>
        <class>org.zstack.tunnel.header.switchs.SwitchEO</class>
        <class>org.zstack.tunnel.header.switchs.PhysicalSwitchVO</class>
        <class>org.zstack.tunnel.header.switchs.PhysicalSwitchEO</class>
        <class>org.zstack.tunnel.header.switchs.PhysicalSwitchUpLinkRefVO</class>
        <class>org.zstack.tunnel.header.switchs.SwitchModelVO</class>
        <class>org.zstack.tunnel.header.switchs.SwitchPortVO</class>
        <class>org.zstack.tunnel.header.switchs.SwitchVlanVO</class>

        <class>org.zstack.tunnel.header.tunnel.NetworkVO</class>
        <class>org.zstack.tunnel.header.tunnel.InterfaceVO</class>
        <class>org.zstack.tunnel.header.tunnel.InterfaceEO</class>
        <class>org.zstack.tunnel.header.tunnel.InterfaceMotifyRecordVO</class>
        <class>org.zstack.tunnel.header.tunnel.TunnelVO</class>
        <class>org.zstack.tunnel.header.tunnel.TunnelEO</class>
        <class>org.zstack.tunnel.header.tunnel.TunnelMotifyRecordVO</class>
        <class>org.zstack.tunnel.header.tunnel.QinqVO</class>
        <class>org.zstack.tunnel.header.tunnel.TunnelInterfaceVO</class>
        <class>org.zstack.tunnel.header.monitor.MonitorCidrVO</class>

        <class>org.zstack.tunnel.header.host.HostVO</class>
        <class>org.zstack.tunnel.header.host.HostEO</class>

        <class>org.zstack.tunnel.header.monitor.HostSwitchMonitorVO</class>
        <class>org.zstack.tunnel.header.monitor.HostSwitchMonitorEO</class>

        <class>org.zstack.tunnel.header.monitor.TunnelMonitorVO</class>
        <class>org.zstack.tunnel.header.monitor.SpeedRecordsVO</class>

    </persistence-unit>
</persistence>
