<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test api</title>
</head>


<script type="text/javascript">
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))
        alert('ZStack Dashboard might not work well in IE.\nPlease use Chrome or Firefox to use ZStack Dashboard.');
</script>

<script src="js/jquery-1.9.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-cookies.js"></script>

<div ng-app="myApp" ng-controller="testCtrl">
发送消息<br/>
    <textarea rows="10" cols="100"  name="msg" ng-model="msg"></textarea>
    <br/>
    <button ng-click="sync()">同步提交</button>
    <button ng-click="async()">异步提交</button>
    <br/>
返回<br/>
    <textarea rows="10" cols="100"  name="rspmsg" ng-model="rspmsg"></textarea>


</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('testCtrl', function($scope, $http) {
        $scope.sync = function() {

            $http.post('/syscxp/api', $scope.msg)
                    .success(function (response) {
                        $scope.rspmsg = JSON.stringify(response);
                    });
        }

        $scope.async = function() {
            alert("还没做");
        }
    });
</script>

    <br/>
    示例：<br/>
    登录：<br/>
    <textarea cols="200">
    {"org.zstack.account.header.identity.APILogInOrOutMsg.APILogInByAccountMsg":{"accountName":"admin","password":"b109f3bbbc244eb82441917ed06d618b9008dd09b3befd1b5e07394c706a8bb980b1d7785e5976ec049b46df5f1326af5a2ea6d103fd07c95385ffab0cacbc86"}}
    </textarea>
<br/>APIValidateSessionMsg：<br/>
    <textarea cols="200">
    {"org.zstack.account.header.identity.APIFindMsg.APIValidateSessionMsg":{"sessionUuid":"kma762s1ya9brsu7qpzm7ono00tmidvu","session":{"uuid":"kma762s1ya9brsu7qpzm7ono00tmidvu"}}}
    </textarea>


</body>
</html>
