<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>

        <RollingFile name="RollingFile" fileName="${sys:catalina.home}/logs/vpn.log"
                     filePattern="${sys:catalina.home}/logs/management-server-vpn-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] %X{api,} %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="150 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

	    <RollingFile name="ApiRequestLogger" fileName="${sys:catalina.home}/logs/syscxp-api.log"
            filePattern="${sys:catalina.home}/logs/syscxp-api-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="150 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="DiskCapacityLogger" fileName="${sys:catalina.home}/logs/syscxp-disk-capacity.log"
                     filePattern="${sys:catalina.home}/logs/syscxp-disk-capacity-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="150 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="DiskCapacityLoggerDetails"
                     fileName="${sys:catalina.home}/logs/syscxp-disk-capacity-details.log"
                     filePattern="${sys:catalina.home}/logs/syscxp-disk-capacity-details-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="150 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>


        <Async name="Async" ignoreExceptions="false" bufferSize="512">
            <AppenderRef ref="RollingFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="com.syscxp.storage.primary.DiskCapacityTracer" level="DEBUG" additivity="TRUE">
            <AppenderRef ref="DiskCapacityLogger" level="DEBUG"/>
        </Logger>

        <Logger name="com.syscxp.storage.primary.DiskCapacityTracerDetails" level="DEBUG" additivity="TRUE">
            <AppenderRef ref="DiskCapacityLoggerDetails" level="DEBUG"/>
        </Logger>

        <Logger name="api.request" level="TRACE" additivity="TRUE">
            <AppenderRef ref="ApiRequestLogger" level="TRACE" />
        </Logger>

        <Logger name="com.syscxp" level="debug"/>

        <Logger name="com.syscxp.utils" level="trace"/>

        <Logger name="com.syscxp.core.rest" level="trace"/>

        <Logger name="com.syscxp.core.cloudbus" level="trace"/>

        <Logger name="org.springframework" level="warn"/>

        <Logger name="com.syscxp.core.workflow" level="TRACE"/>

        <!--
                <Logger name="com.syscxp.billing" level="TRACE" />
        -->

        <Logger name="org.hibernate" level="warn"/>

        <Root level="warn" additivity="false">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
