<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="syscxp.jpa" transaction-type="RESOURCE_LOCAL">
        <mapping-file>persistence-mapping.xml</mapping-file>

        <class>com.syscxp.core.job.JobQueueVO</class>
        <class>com.syscxp.core.job.JobQueueEntryVO</class>
        <class>com.syscxp.core.config.GlobalConfigVO</class>
        <class>com.syscxp.header.managementnode.ManagementNodeVO</class>
        <class>com.syscxp.header.configuration.BandwidthOfferingVO</class>

        <class>com.syscxp.header.host.HostEO</class>
        <class>com.syscxp.header.host.HostVO</class>
        <class>com.syscxp.header.vpn.host.VpnHostVO</class>
        <class>com.syscxp.header.vpn.host.HostInterfaceVO</class>
        <class>com.syscxp.header.configuration.ResourceMotifyRecordVO</class>
        <class>com.syscxp.header.vpn.vpn.VpnVO</class>
        <class>com.syscxp.header.vpn.vpn.VpnCertVO</class>
        <class>com.syscxp.header.vpn.vpn.VpnSystemVO</class>
    </persistence-unit>
</persistence>
