<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test api</title>
</head>


<script type="text/javascript">
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))
        alert('syscxp Dashboard might not work well in IE.\nPlease use Chrome or Firefox to use syscxp Dashboard.');
</script>

<script src="js/jquery-1.9.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-cookies.js"></script>

<div ng-app="myApp" ng-controller="testCtrl">
发送消息<br/>
    <textarea rows="10" cols="100" name="msg" ng-model="msg"></textarea>
    <br/>
    <button ng-click="post()" style="width:80px;"> 提 交 </button> 查询次数(异步消息)：<input type="text" ng-model="second">
    <br/>
返回<br/>
    <textarea rows="10" cols="100"  name="rspmsg" ng-model="rspmsg"></textarea>


</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('testCtrl', function($scope, $http) {
        $scope.ApiId = null;
        $scope.post = function() {
            $scope.second = 0;
            $http.post('../api', $scope.msg)
                .success(function (response) {
                    if (response.state == "Done"){
                        $scope.rspmsg = JSON.stringify(response);
                    }else{
                        $scope.ApiId = response.uuid;
                        $scope.poll();
                    }
                });
        }

        $scope.poll = function(){
            $scope.second = $scope.second + 1;
            $http.get('../api/result/' + $scope.ApiId).success(function (response) {
                console.log(response.state);
                $scope.rspmsg = JSON.stringify(response);
                if (response.state == "Processing"){
                    setTimeout($scope.poll, 1000)
                }
            });
        }
    });
</script>

<br/>
示例：<br/>
账户登录：<br/>
<textarea cols="200">
{
	"com.syscxp.account.header.identity.APILogInByAccountMsg": {
		"accountName": "admin",
		"password": "b109f3bbbc244eb82441917ed06d618b9008dd09b3befd1b5e07394c706a8bb980b1d7785e5976ec049b46df5f1326af5a2ea6d103fd07c95385ffab0cacbc86",
		"imageUuid": "testUuid",
		"imageCode": "testCode"
	}
}
</textarea>
<br/>用户登录：<br/>
<textarea cols="200">
    {"com.syscxp.account.header.identity.APILogInByUserMsg":{"accountName":"admin","userName":"adminuser", "password":"b109f3bbbc244eb82441917ed06d618b9008dd09b3befd1b5e07394c706a8bb980b1d7785e5976ec049b46df5f1326af5a2ea6d103fd07c95385ffab0cacbc86"}}
    </textarea>

<br/>检查Session是否有效 APIValidateSessionMsg：<br/>
    <textarea cols="200">
    {"com.syscxp.account.header.identity.APIValidateSessionMsg":{"sessionUuid":"kma762s1ya9brsu7qpzm7ono00tmidvu","session":{"uuid":"kma762s1ya9brsu7qpzm7ono00tmidvu"}}}
    </textarea>
<br/>获取Session及用户Policy -> APIGetSessionPolicyMsg：<br/>
<textarea cols="200">
{"com.syscxp.header.identity.APIGetSessionPolicyMsg":{"sessionUuid":"06e51c48b7464e25860ee0fc42fcd14b","session":{"uuid":"kma762s1ya9brsu7qpzm7ono00tmidvu"}}}
</textarea>

<br/>APIUpdateAccountMsg：<br/>
<textarea cols="200">
{"com.syscxp.account.header.identity.APIUpdateAccountMsg":{"description":"b109f3bbbc244eb82441917ed06d618b9008dd09b3befd1b5e07394c706a8bb980b1d7785e5976ec049b46df5f1326af5a2ea6d103fd07c95385ffab0cacbc86","session":{"uuid":"kma762s1ya9brsu7qpzm7ono00tmidvu"}}}
</textarea>

<br/>APICreateNoticeMsg：<br/>
<textarea cols="200">
{"com.syscxp.account.header.log.APICreateNoticeMsg":{"title":"wwwwww","link":"wwwwlink","startTime":"2017-08-25 13:49:29","endTime":"2017-08-23 13:49:29","session":{"uuid":"91e7d7b983444a08bba5ed93d03290b4"}}}
</textarea>
<br/>APIUpdateNoticeMsg：<br/>
<textarea cols="200">
{"com.syscxp.account.header.log.APIUpdateNoticeMsg":{"uuid":"fcc5cbe51c1f41ff902a94339d6e88eb","title":"wwwwww","link":"wwwwlink","startTime":"2017-08-25 13:49:29","endTime":"2017-08-29 13:49:29","session":{"uuid":"f1b1006d00754976878953a376ae8bdd"}}}
</textarea>
<br/>APIDeleteNoticeMsgcp ：<br/>
<textarea cols="200">
{"com.syscxp.account.header.log.APIDeleteNoticeMsg":{"uuid":"kma762s1ya9brsu7qpzm7ono00tmidvu","session":{"uuid":"kma762s1ya9brsu7qpzm7ono00tmidvu"}}}
</textarea>
<br/>APIQueryNoticeMsg：<br/>
<textarea cols="200">
{"com.syscxp.account.header.log.APIQueryNoticeMsg":{"conditions":[],"limit":2,"start":0,"count":false,"groupBy":"","replyWithCount":true,"sortBy":"","fields":[],session":{"uuid":"kma762s1ya9brsu7qpzm7ono00tmidvu"}}}
</textarea>
</body>
</html>
